.button_wrap {
    display: grid;
    place-items: center;
    width: fit-content;
    height: fit-content;
    padding: .5rem 3rem;
    background-color: white;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: 'Pangram Sans';
    font-weight: bold;
    transition: all 100ms ease;
    text-transform: uppercase;
}

.button_wrap:hover {
    background-color: var(--bg);
    color: white;
}