.item_display_wrap {
    display: grid;
    place-self: center;
    margin: auto;
    grid-template-columns: repeat( 2, 1fr );
    grid-auto-rows: auto;
    gap: 2rem;
    width: calc( 100% - 4rem );
    height: 100vh;
}

.category_title {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 3rem 0;
    font-family: 'Pangram Sans';
    text-transform: uppercase;
}

@media ( max-width: 600px ) {
    .item_display_wrap {
        grid-template-columns:  repeat( 1, 1fr );
    }
}